<% include partials/header %>

<h2 class="page-header">Logga in till Bokningssystemet</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Användarnamn">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Lösenord">
  </div>
  <button type="submit" class="btn btn-default">Logga in</button>
</form>

<% include partials/footer %>